.adsDiv{
    margin-top: 62px;
    background-color: #000000;
}

@media (max-width: 1080px) {
    .ads-div{
        height: 130px;
    }
}

.ads-log {

    width: 100px;
    height: 60px;
}

@media (max-width: 1080px) {
    .ads-log{
        width: 100px;
        height: 30px;
    }
}

.ads-text{
    width: 65px;
    height: 45px;

    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;
}