

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allPcsBoxs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.allPCsTexts {
    font-weight: 900;
    font-size: 20px;
    color:var(--textColor-red1);
    margin: 2rem;
    margin-top: 6rem;
}