.contactsLine#contactsLineHome {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #211f1f;
}

.social-media {
  width: 30px;
  height: 25px;
}

.contactsLine-2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  background: #211f1f;
}

.contactsLine2-text {
  display: flex;
  width: 227px;
  height: 21px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}
