a#textTypePc {
    display: flex;
    text-align: -webkit-center;
    text-decoration: none;
    color: #E20100;
}

a {
    text-decoration: none;
}

.h1{
    font-weight: 900;
    font-size: 4vh;
    line-height: 4vh;
}

@media (max-width: 1024px) {
    .h1 {
        font-weight: 800;
        font-size: 3vh;
        line-height: 3vh;
    }
}

@media (max-width: 500px) {
    .h1{
        font-weight: 800;
        font-size: 2.5vh;
        line-height: 2.5vh;
    }
}

.h1, .h2 {
    text-align: -webkit-center;
    color: #E20100;
}

.h2{
    font-weight: 700;
    font-size: 15px;
    color: #E20100;
}

.container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.descValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;
}

.pcsTypesImgs {
    display: flex;
    margin: 1rem;
    align-items: center;
}

.pcTypeImg {
    cursor: pointer;
    width: 20vw;
}

.pcTypeImg:hover {
    width: 22vw;
    filter: drop-shadow(0px 10px 10px rgba(121, 20, 20, 0.6));
    z-index: -1;
}

.typePcsText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: -webkit-center;
}

.typePc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pcTypeTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e20100;
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
    width: 20vw;
}

.pcTypeTxt:hover {
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}
.icon-chat {
    z-index: 1;
    position: fixed;
    width: 15vw;
    height: 15vh;
    left: 75%;
    top: 80%;
    color: #E20100;
}

.icon-chat:hover {
    width: 17vw;
    height: 17vh;
    color: rgb(39, 154, 39);
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.highLightsBoxs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.styleBox {
    flex-direction: column;
    padding: 1rem;
    width: 25rem;
    box-sizing: border-box;
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.styleBox:hover {
    cursor: pointer;
    border: #E20100 solid 1px;
    transition: 0.3s;
}

.favoriteIcon {
    margin-left: 75%;
    cursor: pointer;
    border: hidden;
}

.favoriteIconFill {
    color: #e20100;
}

.button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #E20100;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0px 10px;

    font-weight: 900;
    font-size: 1.2rem;
    line-height: 39px;
    color: #E20100;
}

.button-buy:hover {
    background-color: #E20100;
    color: #F5F5F5;
}

.descriptionProduct {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 5px 0px;
    height: 2.3rem;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
}

.bbPfSc {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

@media (max-width:515px) {
    .bbPfDv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.bbPfDv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.divPlatform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 515px) {
    .platformAmd,
    .latformIntel {
        height: 7rem;
    }
}

.textPlatform {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-top: 1rem;
}

.platformImg{
    width: 25vw;
    margin: 1rem;
}
.platformImg:hover{
    width: 26vw;
    transition: 0.2s;
}

.bestSelersBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.installmentPrice,
.oldPrice{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

.currentPrice {
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    color: #E20100;
}

.buy:hover {
    width: 261px;
    height: 46px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #E20100;
}

.departments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bbdBoxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width:765px) {
    .bbdBoxs {
        display: flex;
        flex-wrap: wrap;
    }
}

.styleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    box-sizing: border-box;
    background: #F5F5F5;
    border-radius: 5px;
}
.imgBbd {
    height: 100px;
    width: 200px;
}