.container{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.descValue{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;

}

.typepc-text {

    text-align: -webkit-center;

    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    margin: 20px;
    color: #E20100;
}

.imgsTypesPcs{
    display: flex;
    column-gap: 10px;

}

.img-typepc-1,.img-typepc-2,.img-typepc-3{

    cursor: pointer;
    width: 250px;
}
.img-typepc-1:hover,.img-typepc-2:hover,.img-typepc-3:hover {
    width: 265px;
    filter: drop-shadow(0px 10px 10px rgba(121, 20, 20, 0.6));
    z-index: -1;
}

.textTypePc-1:hover,.textTypePc-2:hover,.textTypePc-3:hover {
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

a#textTypePc{
    display: flex;
    text-align: -webkit-center;
    text-decoration: none;
    color: #E20100;
}

.textTypesPcs{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: -webkit-center;
    

}

.divTypePc1, .divTypePc2, .divTypePc3{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.textTypePc-1,.textTypePc-2,.textTypePc-3{

    display: flex;
    align-items: center;
    justify-content: center;
    color: #e20100;
    text-align: center;

    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;


}

.icon-chat{
    
    z-index: 1;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 75%;
    top: 80%;
    color: #E20100;
}

.icon-chat:hover{

    width: 110px;
    height: 110px;
    color: rgb(39, 154, 39);

}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.highLightsBoxs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.img-hl-1,.img-hl-2, .img-hl-3, .img-bs-1, .img-bs-2,.img-bs-3{
    height: 220px;
    width: 200px;
}
.hl-text {

    font-weight: 900;
    font-size: 20px;
    line-height: 52px;
    margin: 2rem;
    color: #E20100;
    
}                   

a{
    text-decoration: none;
    
}

.styleBox{

    flex-direction: column;
    padding: 1rem;
    width: 25rem;
    box-sizing: border-box;
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styleBox:hover{
    cursor:pointer;
    border: #E20100 solid 1px;
    /* filter: drop-shadow(0px 5px 5px rgba(121, 20, 20, 0.6)); */
    transition: 0.3s;

}

.favoriteIcon{
    
    margin-left: 75%;
    cursor: pointer;
    border: hidden;
}

.favoriteIconFill{
   color: #e20100;

}

.button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #E20100;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 39px;
    color: #E20100;
}

.button-buy:hover{
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #E20100;
    color: #F5F5F5;
    font-size: 22px;
}

.descriptionProduct{
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    margin: 5px 0px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.3rem;
}

.currentPrice-hl-1, .currentPrice-hl-2 , .currentPrice-hl-3{

    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    
    color: #E20100;

}

.installmentPrice-hl-1, .installmentPrice-hl-2, .installmentPrice-hl-3,
.oldPrice-hl-1, .oldPrice-hl-2, .oldPrice-hl-3 {

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    
    color: #000000;
}

.buyByPlatform{

    display: flex;
    flex-direction: column;
    margin: 20px;

}

@media (max-width:515px ) {

    .divBuyByPlatform{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

}

.divBuyByPlatform{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;


}


.divPlatformAmd, .divPlatformIntel{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.text-buy-by-platform{
    
    text-align: -webkit-center;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: #FF0101;
    margin: 2rem;
    
}

.text-platform-amd, .text-platform-intel{

    font-weight: 500;
    font-size: 18px;
    color: #FF0101;
}
@media (max-width: 515px) {

    .platformAmd, .latformIntel{
    
        height: 7rem;
    
    }
}
.platform-amd ,.platform-intel {
    cursor: pointer;
    width: 15rem;
    height: 6rem;
    border-radius: 0.7rem;
}

.platform-intel:hover,.platform-amd:hover{
    width: 16rem;
    height: 7rem;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.bestSelersBox{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.bs-text {

    font-weight: 900;
    font-size: 20px;
    color:#FF0101;
    margin: 2rem;
}

.installmentPrice-bs-1, .installmentPrice-bs-2, .installmentPrice-bs-3,
.oldPrice-bs-1 , .oldPrice-bs-2 , .oldPrice-bs-3 {

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}
.currentPrice-bs-1, .currentPrice-bs-2 , .currentPrice-bs-3{

    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    
    color: #E20100;
}

.buy-bs:hover{

    width: 261px;
    height: 46px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #E20100;

}


.departments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.bbdBoxs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

@media (max-width:765px ) {
    .bbdBoxs{
        display: flex;
        flex-wrap: wrap;
    }

}

.departmentsText{

    font-weight: 900;
    font-size: 20px;
    margin: 20px;

    color: #E20100;

}

.styleBox-bbd{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    box-sizing: border-box;
    background: #F5F5F5;
    border-radius: 5px;
}

.img-bbd-1,.img-bbd-2,.img-bbd-3,.img-bbd-4,.img-bbd-5{
    height: 100px;
    width: 200px;
}


.bbd-text{

    font-weight: 700;
    font-size: 15px;
    
    color: #E20100;

}