.modal-container {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }
  
  .modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modal-message {
    color: black;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .modal-close-btn {
    background-color: #E20100;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .modal-close-btn:hover {
    background-color: #e2000083;
  }
  