.navbar {
  background-color: var(--color-black1);
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-menu {
  background-color: var(--color-black1);
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu-items li {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px 16px;
  list-style: none;
}

.nav-menu-items li a {
  text-decoration: none;
  color: var(--color-white1);
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: var(--textColor-red2);
}

.nav-menu-items {
  width: 100%;
}

.span-navbar {
  margin-left: 16px;
}