* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mainContentProduct {
  margin-top: 4rem;
  background-color: #ffffff;
}

.containerProductFather {
  background: #000;
}
@media (max-width: 590px) {
  .containerProductFather {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    margin-top: 6rem;
  }
}

@media (max-width: 768px) {
  .containerProductChild1 {
    display: flex;
    background: #000000;
    flex-direction: column;
  }
}

.containerProductChild1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
}

.containerProductChild2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewsTitle,
.descTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.imgPrincipal {
  max-height: 27rem;
  min-width: 24rem;
}
.imgProduct {
}

.containerProductDesc {
  background: #ffffff;
  max-width: 650px;
  min-width: 200px;
}

.promotionCall {
  display: flex;
  flex-direction: column;
}

.stopwatch {
  display: flex;
  background: rgb(0 0 0 / 10%);
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.cardsPromo {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-align: center;
}

.numberOfSales,
.offerDiscaunt {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: -webkit-fill-available;
  border: black solid 0.1rem;
  justify-content: center;
  padding: 0.5rem;
  background-color: #000;
  color: #e20100;
  gap: 0px;
  border: #ffffffeb solid 1px;
}

.offersEnd {
  display: flex;
  align-items: center;
  color: #e20100;
}

.timeLeft {
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.descText {
  margin: 5px;
  font-weight: 700;
  line-height: 15px;
  font-size: 15px;
  color: #000000;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rating {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hanking {
  gap: 10px;
  display: flex;
  align-items: center;
  color: #000000;
}

.buttonTop10 {
  width: 142px;
  height: 36px;

  background: #e20100;
  border-radius: 5px;
  color: #ffffff;
}
.hanking,
.buttonTop10 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
}

.value {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.oldPriceProductScreen,
.installmentPriceProductScreen {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.currentPriceProductScreen {
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  color: #e20100;
}

.discountPix {
  font-weight: 400;
  font-size: 17px;
  color: rgba(226, 1, 0, 0.8);
}

.addCart {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}
.addCartButton {
  cursor: pointer;
  margin-top: 20px;
  height: 60px;
  width: 100%;
  background: #000;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  font-weight: 700;
  line-height: 17px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.areaDescriptionPrdct {
  padding: 2rem;
}

.serviceIncluded {
  margin: 1rem;
}
.serviceIncludedBoxes{
  max-width: 1080px;
}
.mounting,
.delivery,
.warranty {
  border: #0000007c solid 1px;
  text-align: center;
  margin: 1rem;
}
.userReviewArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.inputReviewArea {
  width: -webkit-fill-available;
  margin: 1rem 0rem;
  max-width: 1080px;
}
.inputReviewArea input {
  padding-left: 1rem;
  width: -webkit-fill-available;
}
.ulReviewArea {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  border: rgba(0, 0, 0, 0.5) solid 1px;
  list-style: none;
  margin: 1rem 0rem;
  gap: 1rem;
  max-width: 1080px;
}

#reviewsArea {
  border: rgba(0, 0, 0, 0.2) solid 1px;
}
.formReviewArea {
  display: flex;
}

.PrDtPgWarnings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ratingText {
}
.btn,
.reviewBtn {
  cursor: pointer;
  height: 2rem;
  width: 10rem;
  background: #000;
  border-radius: 0px 5px 5px 0px;

  font-weight: 700;
  line-height: 11px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
