
.productDetailsPageMain{
  background-color: var(--bgColor-grey1);
}

.mainContentProduct {
  margin-top: 4rem;
}

.containerProductFather {
  background: var(--bgColor-grey1);
  color: var(--color-white1);
}

@media (max-width: 590px) {
  .containerProductFather {
    display: flex;
    justify-content: center;
    background: var(--bgColor-grey2);
  }
}

@media (max-width: 768px) {
  .containerProductChild1 {
    display: flex;
    background: var(--color-black1);
    flex-direction: column;
  }
}

.containerProductChild1 {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  border: 1px solid var(--color-white1);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.imgProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}

.reviewsTitle,
.descTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imgPrincipal {
  padding: 1rem;
  max-height: 30rem;
  min-width: 24rem;
}

@media (max-width: 400px) {
  .imgPrincipal {
    min-width: auto;
  }
}

.containerProductDesc {
  display: flex;
  background: var(--bgColor-grey2);
  width: 100%;
  height: auto;
  max-width: 50rem;
  flex-direction: column;
  margin-top: 1rem;
  border-radius: 0.7rem;
}

@media (width: 1440px) {
  .containerProductDesc {
    width: 35rem;
  }
}
@media (width: 1366px) {
  .containerProductDesc {
    width: 35rem;
  }
}
@media (width: 1024px) {
  .containerProductDesc {
    width: 30rem;
  }
}

/* Container header informations */

.promotionCall {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.areaDescriptionPrdct {
  padding: 1rem;
}

.stopwatch {
  gap: 5px;
  display: flex;
  background: var(--color-black1);
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  line-height: 14px;
}

.cardsPromo {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-align: center;
  gap: 0.5rem;
}

.numberOfSales,
.offerDiscaunt {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: -webkit-fill-available;
  justify-content: center;
  padding: 0.5rem;
  color: var(--textColor-red2);
  gap: 0px;
  border: var(--color-black1) solid 1px;
  border-radius: 5px;
}

.offersEnd {
  display: flex;
  align-items: center;
  color: var(--textColor-red2);
}

.timeLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descText {
  width: 100%;
  height: auto;
  padding: 1rem;

  font-weight: 500;
  line-height: 15px;
  font-size: 15px;

  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rating {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.buttonTop10 {
  border: none;
  width: 7rem;
  height: 2rem;
  background: var(--bgColor-blue1);
  border-radius: 4px;
}

.hanking,
.buttonTop10 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
}

/* Value Informations */

.value {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.oldPriceProductScreen,
.installmentPriceProductScreen {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.oldPrice {
  text-decoration: line-through;
}

.oldPriceSpan {
  display: flex;
  gap: 5px;
}

.currentPriceProductScreen {
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  color: var(--textColor-red2);
}

.discountPix {
  font-weight: 400;
  font-size: 17px;
  color: var(--textColor-red2);
}

/* Action buttons */

.addCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnBuyNow {
  background: var(--bgColor-blue1);
}

.btnBuyNow:hover {
  background-color: var(--bgColor-blue2);
}

.addCartButton {
  background: var(--bgColor-grey3);
}

.addCartButton:hover {
  background-color: var(--bgColor-grey2);
}

.addCartButton, .btnBuyNow {
  cursor: pointer;
  margin-top: 0.5rem;
  height: 3rem;
  width: 100%;
  font-weight: 600;
  line-height: 15px;
  font-size: 15px;
  text-align: center;
  border: 1px solid var(--color-white1);
  border-radius: 5px;
  color: var(--color-white1);
}

/* Second Container */

.containerProductChild2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-white1);
  border-radius: 10px;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}

/* Reviews Form */

.formReviewArea {
  margin: 1rem 0rem;
  display: flex;
}

.inputReviewArea input {
  min-width: 1px;
  outline: none;
  padding-left: 1rem;
  width: -webkit-fill-available;
}

.btn,
.reviewBtn {
  cursor: pointer;
  height: 2rem;
  background: var(--color-black1);
  border-radius: 0px 5px 5px 0px;

  font-weight: 700;
  line-height: 11px;
  text-align: center;
  color: var(--color-white1);
}

/* Reviews Area */

.reviews {
  color: var(--color-white1);
}

.inputReviewArea {
  text-align: center;
  display: flex;
  line-height: 18px;
  margin-top: 2rem;
  width: -webkit-fill-available;
  max-width: 1366px;
  flex-direction: column;
}

.reviewsAreaMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: -webkit-fill-available;
  max-width: 1366px;
}

.reviewArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: stretch;
  border-radius: 5px;
  border: 1px solid var(--color-white1);
  padding: 1rem;
}

.lineProducDeails {
  height: 1px;
  width: -webkit-fill-available;
  background-color: var(--color-white1);
}

.review {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.ulReviewArea {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  border: 1px solid var(--color-white1);
  border-radius: 5px;
  flex-direction: column;
}

.userReviewArea {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-white1);
  flex-direction: column;
  align-items: center;
}

/* desc area */

.descArea {
  margin: 1rem;
  color: var(--color-white1);
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid var(--color-white1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Warnings */

.videoInput {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-white1);
}
.incompatibilities {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-white1);
}

.PrDtPgWarnings {
  gap: 1rem;
  color: var(--color-white1);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-white1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.serviceIncluded {
  margin: 1rem;
  gap: 1rem;
  padding: 1rem;
  color: var(--color-white1);
  border-radius: 10px;
  border: 1px solid var(--color-white1);
  display: flex;

}

@media (max-width: 600px) {
  .serviceIncluded {
    display: flex;
    flex-direction: column;
  }
}

.serviceIncludedBoxes {
  max-width: 1080px;
}

.mounting,
.delivery,
.warranty {
  width: 33%;
  border-radius: 10px;
  border: var(--color-white1) solid 1px;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 600px) {

  .mounting,
  .delivery,
  .warranty {
    width: auto;
  }
}

.warnings,
.warningLink {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-white1);
}