* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbarShort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000000;
  flex-wrap: wrap;
}

.logoNestHeader {
  width: 7rem;
  height: 4rem;
}

.areaProfileNavShort {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconProfileNavShort {
  width: 32px;
  height: 32px;
}

.textProfileNavShort {
  width: 90px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;

  color: #ffffff;
}

.linkLoginNavShort,
.linkRegisterNavShort {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
