* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel * {
  display: flex;
}

.carouselAds {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}



.carouselAds, #carouselAdsImg{
  height: 35vh;
  width: 100vw;

}
@media (max-width: 1700px) {
  .carouselAds, #carouselAdsImg {
    height: 30vh;
  }  
}
@media (max-width: 1400px) {
  .carouselAds, #carouselAdsImg {
    height: 25vh;
  }  
}
@media (max-width: 950px) {
  .carouselAds, #carouselAdsImg {
    height: 20vh;
  }  
}
@media (max-width: 768px) {
  .carouselAds, #carouselAdsImg {
    height: 18vh;

  }  
}
@media (max-width: 500px) {
  .carouselAds, #carouselAdsImg {
    height: 15vh;
  }  
}
@media (max-width: 350px) {
  .carouselAds, #carouselAdsImg {
    height: 10vh;

  }  
} 

.carousel .slide {
  display: flex;
  align-items: center;
}

.carousel .slide img {
  height: 45vh;
}

@media (min-width:2500px) {
  .pcTypeImg {
      cursor: pointer;
      width: 30vw;
}
}
@media (min-width:1920px) {
  .pcTypeImg {
    cursor: pointer;
    width: 25vw;
}

@media (max-width: 500px) {
  .carousel .slide img {
    height: 30vh;
}
  
}
}

.image {
  width: 300px;
}

.carousel .control-dots{
  display: flex;
justify-content: center;
}

.carousel .control-dots .dot {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #f00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #ff0000;
}

.carousel.carousel-slider .control-arrow {
  display: flex;
  align-items: center;
  background-color: rgb(0 0 0 / 27%);
  font-size: 26px;
  padding: 5px;
  margin: 1rem;
  height: 5rem;
  border: 1px solid red;
  border-radius: 2rem;
  top: 10rem;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #e20100;
  height: 0px;
}
.slide .animated{
  transform: translate3d(-100%, 0px, 0px);
}

.carousel.carousel-slider {
  display: flex;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-status {
  display: flex;
  position: absolute;
  top: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 15px;
  right: auto;
}
