@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  /* Colors */
  --textColor-red1:#FF0101;
  --textColor-red2:#E20100;
  --textColor-red3:#E40606;
  --textColor-red4:#F16D6D;

  --bgColor-blue1:#0074E4;
  --bgColor-blue2:#298AE8;
  --bgColor-green1:#5FA95F;
  --bgColor-grey1:#191919;
  --bgColor-grey2:#2b2a2a;
  --bgColor-grey3:#616161;

  --modalBg:#040404cc;

  --color-black1:#000000;
  --color-white1:#ffffff;

}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
    /* Fontes: */
  font-family: "Poppins", sans-serif;
}


body {
  margin: 0;
  font-family:'Poppins', -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
